<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortener</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>

<body>
    <div>
        <div style="text-align: center;">
            <h1>Shortener</h1>
        </div>
        <div style="display: flex; justify-content: center;">
            <form hx-post="/" hx-target="#result">
                <input type="text" name="url" />
                <input type="submit" />
            </form>
        </div>
        <div style="text-align:center;margin-top:20px;" id="result"></div>
    </div>

    <script>
        htmx.on('htmx:beforeSwap', e => {
            if (e.detail.isError) {
                document.getElementById("result").innerHTML = e.detail.serverResponse
            }
        });
    </script>
</body>

</html>
